In [2]:
import pandas as pd
import numpy as np
from datetime import timedelta
from datetime import datetime

# Read dataset

In [3]:
df = pd.read_csv('../dataset_mood_smartphone.csv')

In [4]:
df.head(10)

   Unnamed: 0       id                     time variable  value
0           1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1           2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2           3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3           4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4           5  AS14.01  2014-02-27 09:00:00.000     mood    6.0
5           6  AS14.01  2014-02-27 12:00:00.000     mood    6.0
6           7  AS14.01  2014-02-27 15:00:00.000     mood    7.0
7           8  AS14.01  2014-03-21 09:00:00.000     mood    6.0
8           9  AS14.01  2014-03-21 11:00:00.000     mood    6.0
9          10  AS14.01  2014-03-21 15:00:00.000     mood    7.0

# Transform

In [11]:
test_df = df.loc[df['id'] == 'AS14.01']

In [9]:
test_df.head(100)

    Unnamed: 0       id                     time variable  value
0            1  AS14.01  2014-02-26 13:00:00.000     mood    6.0
1            2  AS14.01  2014-02-26 15:00:00.000     mood    6.0
2            3  AS14.01  2014-02-26 18:00:00.000     mood    6.0
3            4  AS14.01  2014-02-26 21:00:00.000     mood    7.0
4            5  AS14.01  2014-02-27 09:00:00.000     mood    6.0
5            6  AS14.01  2014-02-27 12:00:00.000     mood    6.0
6            7  AS14.01  2014-02-27 15:00:00.000     mood    7.0
7            8  AS14.01  2014-03-21 09:00:00.000     mood    6.0
8            9  AS14.01  2014-03-21 11:00:00.000     mood    6.0
9           10  AS14.01  2014-03-21 15:00:00.000     mood    7.0
10          11  AS14.01  2014-03-21 19:00:00.000     mood    6.0
11          12  AS14.01  2014-03-21 21:00:00.000     mood    6.0
12          13  AS14.01  2014-03-22 08:00:00.000     mood    7.0
13          14  AS14.01  2014-03-22 12:00:00.000     mood    7.0
14          15  AS14.01  2014-03-22 15:00:00.000     mood    7.0
15          16  AS14.01  2014-03-22 18:00:00.000     mood    6.0
16          17  AS14.01  2014-03-22 21:00:00.000     mood    5.0
17          18  AS14.01  2014-03-23 10:00:00.000     mood    7.0
18          19  AS14.01  2014-03-23 12:00:00.000     mood    7.0
19          20  AS14.01  2014-03-23 15:00:00.000     mood    8.0
20          21  AS14.01  2014-03-23 19:00:00.000     mood    6.0
21          22  AS14.01  2014-03-23 21:00:00.000     mood    6.0
22          23  AS14.01  2014-03-24 09:00:00.000     mood    6.0
23          24  AS14.01  2014-03-24 12:00:00.000     mood    6.0
24          25  AS14.01  2014-03-24 15:00:00.000     mood    6.0
25          26  AS14.01  2014-03-24 18:00:00.000     mood    5.0
26          27  AS14.01  2014-03-24 21:00:00.000     mood    7.0
27          28  AS14.01  2014-03-25 09:00:00.000     mood    6.0
28          29  AS14.01  2014-03-25 15:00:00.000     mood    7.0
29          30  AS14.01  2014-03-25 20:00:00.000     mood    8.0
..         ...      ...                      ...      ...    ...
70          71  AS14.01  2014-04-03 12:00:00.000     mood    6.0
71          72  AS14.01  2014-04-03 15:00:00.000     mood    7.0
72          73  AS14.01  2014-04-03 18:00:00.000     mood    6.0
73          74  AS14.01  2014-04-03 21:00:00.000     mood    6.0
74          75  AS14.01  2014-04-04 10:00:00.000     mood    6.0
75          76  AS14.01  2014-04-04 13:00:00.000     mood    6.0
76          77  AS14.01  2014-04-04 15:00:00.000     mood    6.0
77          78  AS14.01  2014-04-04 18:00:00.000     mood    6.0
78          79  AS14.01  2014-04-04 21:00:00.000     mood    7.0
79          80  AS14.01  2014-04-05 10:00:00.000     mood    6.0
80          81  AS14.01  2014-04-05 12:00:00.000     mood    8.0
81          82  AS14.01  2014-04-05 14:00:00.000     mood    7.0
82          83  AS14.01  2014-04-05 18:00:00.000     mood    6.0
83          84  AS14.01  2014-04-05 21:00:00.000     mood    7.0
84          85  AS14.01  2014-04-06 13:00:00.000     mood    6.0
85          86  AS14.01  2014-04-06 16:00:00.000     mood    7.0
86          87  AS14.01  2014-04-06 18:00:00.000     mood    6.0
87          88  AS14.01  2014-04-06 21:00:00.000     mood    7.0
88          89  AS14.01  2014-04-07 10:00:00.000     mood    6.0
89          90  AS14.01  2014-04-07 15:00:00.000     mood    7.0
90          91  AS14.01  2014-04-07 18:00:00.000     mood    6.0
91          92  AS14.01  2014-04-07 21:00:00.000     mood    7.0
92          93  AS14.01  2014-04-08 09:00:00.000     mood    7.0
93          94  AS14.01  2014-04-08 12:00:00.000     mood    7.0
94          95  AS14.01  2014-04-08 14:00:00.000     mood    7.0
95          96  AS14.01  2014-04-08 18:00:00.000     mood    7.0
96          97  AS14.01  2014-04-08 20:00:00.000     mood    5.0
97          98  AS14.01  2014-04-09 09:00:00.000     mood    7.0
98          99  AS14.01  2014-04-09 12:00:00.000     mood    8.0
99         100  AS14.01  2014-04-09 15:00:00.000     mood    8.0

[100 rows x 5 columns]

In [12]:
df['time'] = pd.to_datetime(df['time'])

In [17]:
a = df['time']

In [18]:
a

0        2014-02-26 13:00:00.000
1        2014-02-26 15:00:00.000
2        2014-02-26 18:00:00.000
3        2014-02-26 21:00:00.000
4        2014-02-27 09:00:00.000
5        2014-02-27 12:00:00.000
6        2014-02-27 15:00:00.000
7        2014-03-21 09:00:00.000
8        2014-03-21 11:00:00.000
9        2014-03-21 15:00:00.000
10       2014-03-21 19:00:00.000
11       2014-03-21 21:00:00.000
12       2014-03-22 08:00:00.000
13       2014-03-22 12:00:00.000
14       2014-03-22 15:00:00.000
15       2014-03-22 18:00:00.000
16       2014-03-22 21:00:00.000
17       2014-03-23 10:00:00.000
18       2014-03-23 12:00:00.000
19       2014-03-23 15:00:00.000
20       2014-03-23 19:00:00.000
21       2014-03-23 21:00:00.000
22       2014-03-24 09:00:00.000
23       2014-03-24 12:00:00.000
24       2014-03-24 15:00:00.000
25       2014-03-24 18:00:00.000
26       2014-03-24 21:00:00.000
27       2014-03-25 09:00:00.000
28       2014-03-25 15:00:00.000
29       2014-03-25 20:00:00.000
                   ...
376882   2014-04-27 10:44:59.062
376883   2014-04-27 10:48:48.413
376884   2014-04-27 12:46:35.697
376885   2014-04-27 13:52:35.108
376886   2014-04-27 13:53:17.608
376887   2014-05-01 20:38:50.595
376888   2014-05-03 21:18:04.157
376889   2014-05-04 08:38:49.355
376890   2014-05-04 08:39:02.530
376891   2014-05-05 06:06:32.828
376892   2014-05-05 20:09:54.138
376893   2014-05-06 20:20:31.098
376894   2014-05-07 13:45:27.233
376895   2014-05-07 16:45:40.653
376896   2014-03-23 08:46:30.237
376897   2014-03-23 12:16:04.568
376898   2014-03-24 08:35:37.507
376899   2014-03-26 08:50:33.236
376900   2014-03-30 13:15:37.865
376901   2014-04-06 10:57:54.450
376902   2014-04-06 11:24:23.055
376903   2014-04-06 11:38:32.033
376904   2014-04-07 18:13:31.111
376905   2014-04-07 18:16:49.107
376906   2014-04-07 18:21:04.197
376907   2014-04-11 07:51:16.948
376908   2014-04-19 11:00:32.747
376909   2014-04-26 10:19:07.434
376910   2014-04-27 00:44:48.450
376911   2014-04-07 18:25:14.036
Name: time, Length: 376912, dtype: datetime64[ns]

In [19]:
GB=df.groupby([(df.time.year),(df.time.month)]).sum()

AttributeError: 'Series' object has no attribute 'year'

In [ ]:
from datetime import datetime
# load data
def parse(x):
	return datetime.strptime(x, '%Y-%m-%d-%H')
dataset = read_csv('raw.csv',  parse_dates = [['year', 'month', 'day', 'hour']], index_col=0, date_parser=parse)
dataset.drop('No', axis=1, inplace=True)
# manually specify column names
dataset.columns = ['pollution', 'dew', 'temp', 'press', 'wnd_dir', 'wnd_spd', 'snow', 'rain']
dataset.index.name = 'date'
# mark all NA values with 0
dataset['pollution'].fillna(0, inplace=True)
# drop the first 24 hours
dataset = dataset[24:]
# summarize first 5 rows
print(dataset.head(5))
# save to file
dataset.to_csv('pollution.csv')